@model IEnumerable<Futbolcu.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Category</h2>

<p>
    <a href="/Admin/Category/Create" class="btn btn-success btn-lg  " style="margin-left:380px">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a href="/Admin/Category/Delete?id=@item.Id " class="btn btn-danger" style="margin-right:10px">Detele</a>
                    <a href="/Admin/Category/Edit?id=@item.Id " class=" btn btn-info">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
