@{
    ViewData["Title"] = "About";
}
<section class="product">
    <div class="container">
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12 col-md-6 col-lg-3 ">

                <a title="Lionel Messi stats"><img src="https://www.fctables.com/uploads/infographics/profil/271592/lionel_messi.jpg" style="width:100%;" alt="Lionel Messi stats" /></a>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 ">

                <a title="Luis Suarez stats"><img src="https://www.fctables.com/uploads/infographics/profil/273528/luis_suarez.jpg" style="width:100%;" alt="Luis Suarez stats" /></a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 ">
                <a title="Philippe Coutinho stats"><img src="https://www.fctables.com/uploads/infographics/profil/300299/philippe_coutinho.jpg" style="width:100%;" alt="Philippe Coutinho stats" /></a>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 ">
                <a title="Gerard Pique stats"><img src="https://www.fctables.com/uploads/infographics/profil/241949/gerard_pique.jpg" style="width:100%;" alt="Gerard Pique stats" /></a>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12 col-md-6 col-lg-3 ">
                <a title="Karim Benzema stats"><img src="https://www.fctables.com/uploads/infographics/profil/264584/karim_benzema.jpg" style="width:100%;" alt="Karim Benzema stats" /></a>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 ">
                <a title="Isco stats"><img src="https://www.fctables.com/uploads/infographics/profil/250502/isco.jpg" style="width:100%;" alt="Isco stats" /></a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 ">
                <a title="Marcelo stats"><img src="https://www.fctables.com/uploads/infographics/profil/276497/marcelo.jpg" style="width:100%;" alt="Marcelo stats" /></a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 ">
                <a title="Marco Asensio stats"><img src="https://www.fctables.com/uploads/infographics/profil/276878/marco_asensio.jpg" style="width:100%;" alt="Marco Asensio stats" /></a>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12 col-md-6 col-lg-3 ">
                <a title="Roberto Firmino stats"><img src="https://www.fctables.com/uploads/infographics/profil/305297/roberto_firmino.jpg" style="width:100%;" alt="Roberto Firmino stats" /></a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 ">
                <a title="Sadio Mane stats"><img src="https://www.fctables.com/uploads/infographics/profil/308503/sadio_mane.jpg" style="width:100%;" alt="Sadio Mane stats" /></a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 ">
                <a title="Mohamed Salah stats"><img src="https://www.fctables.com/uploads/infographics/profil/288015/mohamed_salah.jpg" style="width:100%;" alt="Mohamed Salah stats" /></a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 ">
                <a title="James Milner stats"><img src="https://www.fctables.com/uploads/infographics/profil/253138/james_milner.jpg" style="width:100%;" alt="James Milner stats" /></a>
            </div>
            <div class="row" style="margin:20px 0px; ">
                <div class="col-sm-12 col-md-6 col-lg-3 ">
                    <a   title="Raheem Sterling stats"><img src="https://www.fctables.com/uploads/infographics/profil/301881/raheem_sterling.jpg" style="width:100%;"  alt="Raheem Sterling stats" /></a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 ">
                    <a   title="Sergio Aguero stats"><img src="https://www.fctables.com/uploads/infographics/profil/312350/sergio-aguero.jpg" style="width:100%;" alt="Sergio Aguero stats" /></a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 ">
                    <a   title="Gabriel Jesus stats"><img src="https://www.fctables.com/uploads/infographics/profil/240310/gabriel_jesus.jpg" style="width:100%;" alt="Gabriel Jesus stats" /></a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 ">
                    <a  title="David Silva stats"><img src="https://www.fctables.com/uploads/infographics/profil/226375/david_silva.jpg" style="width:100%;" alt="David Silva stats" /></a>
                </div>
            </div>
        </div>
</section>