
@{
    ViewData["Title"] = "Kulub";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="product">
    <div class="container">
        <div class="row " style="margin-top:20px;     margin-left: 180px;">
            <div class="col-sm-3 col-md-4 col-lg-2 ">
                <div class="item" style="height: 120px;">
                    <div class="img">
                        <img src="~/Public/images/clubs/download (1).png" alt="Alternate Text" />
                    </div>
                    <h6 style="text-align :center; color:aqua">Barcelona</h6>
                </div>
            </div>
            <div class="col-sm-3 col-md-4 col-lg-2 ">
                <div class="item" style="height: 120px;">
                    <div class="img">
                        <img src="~/Public/images/clubs/download (10).png" alt="Alternate Text" />

                    </div>
                    <h6 style="text-align :center; color:aqua">Milan</h6>
                </div>
            </div>
            <div class="col-sm-3 col-md-4 col-lg-2 ">
                <div class="item" style="height: 120px;">
                    <div class="img">
                        <img src="~/Public/images/clubs/download (11).png" alt="Alternate Text" />

                    </div>
                    <h6 style="text-align :center; color:aqua">Arsenal</h6>
                </div>
            </div>
            <div class="col-sm-3 col-md-4 col-lg-2 ">
                <div class="item" style="height: 120px;">
                    <div class="img">
                        <img src="~/Public/images/clubs/download (12).png" alt="Alternate Text" />

                    </div>
                    <h6 style="text-align :center; color:aqua">Besiktas</h6>
                </div>
            </div>
            <div class="col-sm-3 col-md-4 col-lg-2 ">
                <div class="item" style="height: 120px;">
                    <div class="img">
                        <img src="~/Public/images/clubs/download (13).png" alt="Alternate Text" />

                    </div>
                    <h6 style="text-align :center; color:aqua">Chelsea</h6>
                </div>
            </div>
            <div class="col-sm-3 col-md-4 col-lg-2 ">
                <div class="item" style="height: 120px;">
                    <div class="img">
                        <img src="~/Public/images/clubs/download (14).png" alt="Alternate Text" />

                    </div>
                    <h6 style="text-align :center; color:aqua">Atletico Madrid</h6>
                </div>
            </div>

        </div>
        <div class="row " style="margin-top:20px;     margin-left: 180px;">
            <div class="col-sm-3 col-md-4 col-lg-2 ">
                <div class="item" style="height: 120px;">
                    <div class="img">
                        <img src="~/Public/images/clubs/download (2).png" alt="Alternate Text" />
                    </div>
                    <h6 style="text-align :center; color:aqua">Real Madrid</h6>
                </div>
            </div>
            <div class="col-sm-3 col-md-4 col-lg-2 ">
                <div class="item" style="height: 120px;">
                    <div class="img">
                        <img src="~/Public/images/clubs/download (3).png" alt="Alternate Text" />

                    </div>
                    <h6 style="text-align :center; color:aqua">Liverpool</h6>
                </div>
            </div>
            <div class="col-sm-3 col-md-4 col-lg-2 ">
                <div class="item" style="height: 120px;">
                    <div class="img">
                        <img src="~/Public/images/clubs/download (4).png" alt="Alternate Text" />

                    </div>
                    <h6 style="text-align :center; color:aqua">PSJ</h6>
                </div>
            </div>
            <div class="col-sm-3 col-md-4 col-lg-2 ">
                <div class="item" style="height: 120px;">
                    <div class="img">
                        <img src="~/Public/images/clubs/download (5).png" alt="Alternate Text" />

                    </div>
                    <h6 style="text-align :center; color:aqua">Bavaria</h6>
                </div>
            </div>
            <div class="col-sm-3 col-md-4 col-lg-2 ">
                <div class="item" style="height: 120px;">
                    <div class="img">
                        <img src="~/Public/images/clubs/download (6).png" alt="Alternate Text" />

                    </div>
                    <h6 style="text-align :center; color:aqua">Man City</h6>
                </div>
            </div>
            <div class="col-sm-3 col-md-4 col-lg-2 ">
                <div class="item" style="height: 120px;">
                    <div class="img">
                        <img src="~/Public/images/clubs/download (7).png" alt="Alternate Text" />

                    </div>
                    <h6 style="text-align :center; color:aqua">Roma</h6>
                </div>
            </div>

        </div>

    </div>
        </section>